.call {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2rem;
    width: fill-available;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 3rem 0 1.25rem 0;
    background: #FFFFFF80;

    .call__members {
        display: flex;
        flex-direction: row;
        max-width: 80%;
        grid-gap: 1.5rem;

        .call__member_wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1.25rem;
            height: 14rem;
            width: 22rem;
            background: #00000009;
            border: 0.125rem solid #00000000;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;

            .call__videomember {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 0.75rem;
            }

            .call__member {
                width: 8rem;
                height: 8rem;
            }
        }
    }

    .call__controls {
        display: flex;
        flex-direction: row;
        grid-gap: 1.5rem;

        .call__controls__btn {
            transition: all 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            border-radius: 100%;
            padding: 1.25rem;
            aspect-ratio: 1;
            width: 6.25rem;
            height: 6.25rem;

            .call__controls__btn-icon {
                width: 80%;
                height: 80%;
            }
        }

        .call__controls__btn:hover {
            background: #000000;

            .call__controls__btn-icon {
                color: #FFFFFF;
            }
        }
    }
}